[submodule "packages/ui"]
	path = packages/ui
	url = git@github.com:dcic/signature-commons-ui.git
	branch = master
[submodule "packages/schema"]
	path = packages/schema
	url = git@github.com:dcic/signature-commons-schema.git
	branch = master
[submodule "packages/metadata-api"]
	path = packages/metadata-api
	url = git@github.com:dcic/signature-commons-metadata-api.git
	branch = master
[submodule "packages/data-api"]
	path = packages/data-api
	url = git@github.com:MaayanLab/enrichmentAPI.git
	branch = master
[submodule "packages/proxy"]
	path = packages/proxy
	url = git@github.com:MaayanLab/proxy.git
	branch = master

